form { 
  background-color: rgb(255, 229, 180); 
  display: grid; 
  grid-template-columns: auto 3fr; 
  grid-gap: 1rem; 
  align-items:center; 
  margin-top: 140px; 
  justify-content: center; 
  width: 35%; 
  margin-left: 450px; 


} 
.text{ 
size: 130px; 
} 



button { 
  height: 2rem; 
  grid-column: 1 / -1; 
  background-color: rgb(174, 171, 125); 
} 
.label_1{ 
  border: 1px solid black; 

 
} 

.label_2{ 
border: 1px solid black; 
 
}